 
$my-color: rgba(99, 166, 238, 0.541);
$box-size: 40px 40px;
$box-color: rgb(247, 107, 212);
$colors: (
  nice: rgba(209, 106, 218, 0.699),
  cool: rgb(223, 209, 91),
  fun: rgba(31, 161, 64, 0.2),
  summer:  rgb(0, 240, 240),
  cocktail:rgb(240, 176, 0),
  beach: rgb(0, 184, 240),
  happy-hour:rgb(232, 0, 240),
  sunset:rgb(184, 160, 84),
);